body {
    background-color: #343a40;
    color: #fff;
    overflow-y: hidden;
}
a{
    color:#fff;
}
.color-filter ul li{
    color:#fff;
}
#byprice p{
    color:#fff;
}
#byprice .ui-widget-header{
    background: #fff;
}

#byprice .ui-slider .ui-slider-handle{
    background: #a8a8a8;
}

#byprice .ui-widget-content{
    background: rgb(78, 78, 78);
}
.breadcrumb-item a{
    color:#ffc107;
}
.breadcrumb-item a:hover{
    color:#fff;
}
a{
    color:#fff;
   
a:hover{
    color:#ffc107;
}
   
}
.product-thumb{

    background-color: #343a40;
    box-shadow: 0 0 10px #2b2b2b;
}

.caption .price{
    color:#ffc107;
}
.caption .product-name{
    color:#fff;
}

