#allcategory {
    background-color: #fff;
    color: #94c5ae;
}

#allcategory:hover {
    background-color: #94c5ae;
    color: #fff;
}

#home-decor {
    background-color: #fff;
    color: #ffc425;
}

#home-decor:hover {
    background-color: #ffc425;
    color: #fff;
}

#lifestyle {
    background-color: #fff;
    color: #ff6f69;
}

#lifestyle:hover {
    background-color: #ff6f69;
    color: #fff;
}

#accessories {
    background-color: #fff;
    color: #ffcc5c;
}

#accessories:hover {
    background-color: #ffcc5c;
    color: #fff;
}

#jewellories {
    background-color: #fff;
    color: #88d8b0;
}

#jewellories:hover {
    background-color: #88d8b0;
    color: #fff;
}

#toys {
    background-color: #fff;
    color: #40b6be;
}

#toys:hover {
    background-color: #40b6be;
    color: #fff;
}

#electronics {
    background-color: #fff;
    color: #ffc425;
}

#electronics:hover {
    background-color: #ffc425;
    color: #fff;
}

#arts {
    background-color: #fff;
    color: #ff6f69;
}

#arts:hover {
    background-color: #ff6f69;
    color: #fff;
}

#others {
    background-color: #fff;
    color: #44423e;
}

#others:hover {
    background-color: #44423e;
    color: #fff;
}

#scrapyard-category {
    background-color: #343a40;
    color: #fff;
}

a .scrapyard{
    color:#fff
}
.footer-logo {
    margin-bottom: 20px;
}
.c-footer-top {
    background-color: #1BAA80;
    padding: 75px 0;
}
.s-footer-top {
    background-color:#d4a002;
    padding: 75px 0;
}
.footer-logo > a {
    color: #343a40;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-logo > a:hover {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-links{
    color:#343a40;
}
.footer-links:hover{
    color:#fff;
}
.block-title > a {
    color: #fff;
}

.color-white{
    color:#fff;
}
.text-block {
    position: relative;
    top: -100px;
    background-color: rgba(85, 78, 78, 0.514);
    color: white;
    text-align: center;
  }

.homecategory{
    background-image: url('../../static/img/products/11.jpg');
}

.carouselimage{
    width:100%;
    height: 20px !important;
}


#scrapyard-category:hover {
    background-color: #fff;
    color: #343a40;
}

.color-filter ul li {
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
}

.color-filter ul li span.count {
    float: right;
}

span.color {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    margin-right: 20px;
    width: 13px;
    border-radius: 100%;
}


/* 
.color-filter ul li.active span.color,
.color-filter ul li:hover {
    outline: 1px solid #D6B98C;
    outline-offset: 1px;
} */


/* 
.color-filter ul li.active a,
.color-filter ul li.active span.count {
    color: #e03550;
} */

span.color.color-1 {
    background: #ffa07a;
}

span.color.color-2 {
    background: #E9967A;
}

span.color.color-3 {
    background: #FE5858;
}

span.color.color-4 {
    background: #00B2EE;
}

span.color.color-5 {
    background: #00EEB3;
}

span.color.color-6 {
    background: #8DC63F;
}

span.color.color-7 {
    background: #C38B4B;
}

.custom-dropdown:hover>.dropdown-menu{
    display: block;
}




/* .color-black {
    background-color: #292929;
    border-radius: 100%;
    padding: 0;
    width: 12px;
    height: 12px;
    margin: 10px;
}

.color-red {
    background-color: #db1212;
    border-radius: 100%;
    padding: 12px;
    width: 5px;
    height: 5px;
    margin: 10px;
}

.color-green {
    background-color: #09f764;
    border-radius: 100%;
    padding: 12px;
    width: 5px;
    height: 5px;
    margin: 10px;
}

.color-blue {
    background-color: #0f6fee;
    border-radius: 100%;
    padding: 12px;
    width: 5px;
    height: 5px;
    margin: 10px;
}

.color-orange {
    background-color: #f5750d;
    border-radius: 100%;
    padding: 12px;
    width: 5px;
    height: 5px;
    margin: 10px;
} */

#byprice .ui-slider .ui-slider-handle {
    background: #292929;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    top: -.4em;
}

#byprice .ui-widget-header {
    background: #292929;
}

#byprice .ui-corner-all {
    border-radius: 2px;
    border: none;
}

#byprice .ui-widget-content {
    background: #e1e1e1;
}

#byprice .ui-slider-horizontal {
    height: 3px;
}

#byprice p {
    margin-top: 20px;
    font-size: 14px;
    color: #525252;
    font-weight: 500;
}

#byprice p span {
    float: right;
}