.page-title {
    font-size: 2rem;
    font-weight: 600;
    transition: 1s;
}

.main-page {

}


@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 1rem;
    font-weight: 500;
  }
}
