@font-face {
    font-family: 'fontello';
    src: url('../font/fontellodc7e.eot?8547663');
    src: url('../font/fontellodc7e.eot?8547663#iefix') format('embedded-opentype'), url('../font/fontellodc7e.woff2?8547663') format('woff2'), url('../font/fontellodc7e.woff?8547663') format('woff'), url('../font/fontellodc7e.ttf?8547663') format('truetype'), url('../font/fontellodc7e.svg?8547663#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8547663#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart-empty:before {
    content: '\e800';
}


/* '' */

.icon-right-chevron:before {
    content: '\e801';
}


/* '' */

.icon-left-chevron:before {
    content: '\e802';
}


/* '' */

.icon-bookmark-button:before {
    content: '\e803';
}


/* '' */

.icon-right-arrow:before {
    content: '\e804';
}


/* '' */

.icon-menu-grid:before {
    content: '\e805';
}


/* '' */

.icon-calendar:before {
    content: '\e806';
}


/* '' */

.icon-rev-icon:before {
    content: '\e807';
}


/* '' */

.icon-rev-tp-icon:before {
    content: '\e808';
}


/* '' */

.icon-back:before {
    content: '\e809';
}


/* '' */

.icon-search-1:before {
    content: '\e80a';
}


/* '' */

.icon-placeholder-for-locate:before {
    content: '\e80b';
}


/* '' */

.icon-envelope:before {
    content: '\e80c';
}


/* '' */

.icon-cell-icon:before {
    content: '\e80d';
}


/* '' */

.icon-shopping-cart:before {
    content: '\e80e';
}


/* '' */

.icon-search:before {
    content: '\e80f';
}


/* '' */

.icon-menu:before {
    content: '\e810';
}


/* '' */

.icon-percentage:before {
    content: '\e811';
}


/* '' */

.icon-delivery-truck:before {
    content: '\e812';
}


/* '' */

.icon-facebook-letter-logo:before {
    content: '\e813';
}


/* '' */

.icon-pinterest:before {
    content: '\e814';
}


/* '' */

.icon-speech-bubbles-comment-option:before {
    content: '\e815';
}


/* '' */

.icon-man-user:before {
    content: '\e816';
}


/* '' */

.icon-twitter-logo-silhouette:before {
    content: '\e817';
}


/* '' */

.icon-instagram:before {
    content: '\e818';
}


/* '' */

.icon-arrow:before {
    content: '\e819';
}


/* '' */

.icon-call-center-worker-with-headset:before {
    content: '\e81a';
}


/* '' */

.icon-youtube:before {
    content: '\e81b';
}


/* '' */

.icon-money:before {
    content: '\e81c';
}


/* '' */

.icon-close:before {
    content: '\e81d';
}


/* '' */

.icon-credit-cards:before {
    content: '\e81e';
}


/* '' */

.icon-clipboard:before {
    content: '\e81f';
}


/* '' */

.icon-delivery:before {
    content: '\e820';
}


/* '' */

.icon-return:before {
    content: '\e821';
}


/* '' */

.icon-gift:before {
    content: '\e822';
}


/* '' */

.icon-dress:before {
    content: '\e823';
}


/* '' */